In [1]:
import dask.array as da
import numpy as np
import dask.dataframe as dd
import pandas as pd
import time

In [3]:
# numpy attempt

temp = np.ones([10000, 10000, 10000])
temp

:

In [3]:
# dask attempt

temp = da.ones([10000, 10000, 10000])
temp

dask.array<ones_like, shape=(10000, 10000, 10000), dtype=float64, chunksize=(255, 255, 255), chunktype=numpy.ndarray>

In [6]:
import os
os.getcwd()

'/Users/alyssaliu/Desktop/Stats 147/stats-147'

# Pandas approach

## Reading in data

In [23]:
start_time_pd = time.time()
df = pd.read_csv('/Users/alyssaliu/Desktop/StatsM148/export.csv') # 1.5 GB file
end_time_pd = time.time()
pd_duration = end_time_pd - start_time_pd
pd_duration

130.22506499290466

In [24]:
start_time_dask = time.time()
ddf = dd.read_csv('/Users/alyssaliu/Desktop/StatsM148/export.csv') # 1.5 GB file
end_time_dask = time.time()
dask_duration = end_time_dask - start_time_dask
dask_duration

0.026746749877929688

## Data cleaning

In [25]:
start_time_pd = time.time()

# some data cleaning
df['event_timestamp'] = pd.to_datetime(df['event_timestamp']) # convert to pd datetime
df = df[(df['customer_id'] > 0) & (df['account_id'] > 0)]

# data aggregation
new_df = df.groupby(['customer_id', 'account_id']).agg({'journey_steps_until_end': 'mean'})

end_time_pd = time.time()
pd_duration = end_time_pd - start_time_pd
pd_duration

75.48744297027588

In [26]:
start_time_dask = time.time()

# some data cleaning
ddf['event_timestamp'] = dd.to_datetime(ddf['event_timestamp']) # convert to dd datetime
ddf = ddf[(ddf['customer_id'] > 0) & (ddf['account_id'] > 0)]

new_ddf = ddf.groupby(['customer_id', 'account_id']).agg({'journey_steps_until_end': 'mean'})
new_ddf = new_ddf.compute() # must call compute to get the result

end_time_dask = time.time()
dask_duration = end_time_dask - start_time_dask
dask_duration

14.516909122467041

In [27]:
new_df

                        journey_steps_until_end
customer_id account_id
708         431368495                      16.5
            2101606566                     46.0
3591        940064524                      32.0
8039        1990334874                      6.5
8776        611836958                      19.0
...                                         ...
2147466398  1155335851                      5.5
2147472335  550629877                       2.0
2147478200  223407584                       1.5
2147480920  496493954                      59.0
2147483471  1556733004                      7.0

[434142 rows x 1 columns]

In [28]:
new_ddf

                        journey_steps_until_end
customer_id account_id
2119402500  900588489                       7.0
1937664540  1548695092                     22.0
293772960   1074523090                      5.5
1203964937  646675025                       4.5
1621312620  515646756                      24.0
...                                         ...
1451037560  1067445904                      1.0
1239687495  1786511163                     90.5
1481279844  1421347604                     93.5
791509160   1589607168                      1.5
1813819171  1450725754                      2.5

[434142 rows x 1 columns]